*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}


/* For Dextop */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    background-color: rgb(220, 236, 220);
}
/* 
Navbar Start Here */

.nav-logo{
    text-align: left;
}

.nav-heading{
    text-align: right;
}
.nav-link{
    flex-direction: row;
    flex-direction: flex-end;
}

.nav-link a{
    margin: 5px 10px;
    padding: 5px 10px;
    text-align: center;
    background-color: transparent;
}

/* Navbar Start Here */

/* Profile Desing Start Here */
.profile .top-icon{
    right: 100px;
    width: 100px;
    transition: width 2s, transform 2s;
}
.profile .top-icon:hover{
    width: 140px;
}

.profile .botom-icon{
    left: 100px;
    bottom: 20px;
    width: 100px;
    transition: width 2s, transform 2s;
}
.profile .botom-icon:hover{
    width: 120px;
}

.profile p{
    color: gray;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Profile Desing Ends Here */
/* About Me Desing Start  Here */

.about-me_img {
    margin-top: 150px;
}
.about-me_img img {
    height:270px;
    width: 250px;
}

.about-me_disc p{
    text-align: left;
    

}
/* About Me Desing Ends Here */