/* Common Design Start Here */

:root{
    ---Primary-Color:rgb(39, 154, 204);
    --Secondary-color:rgb(71, 18, 156);
    ---padding:10px;
    ---margin:5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

h1{
    text-align: center;
    margin:1rem;
}
p{
    text-align: justify;
    font-size: 1.5rem;
    margin: 1rem;
}

.doted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 10%;

}


/* Common Design Ends Here */


/* Nabbar Design Start Here. */

img{
    
    border-radius:40%;
}

.navbar h1 {
    margin: 0;
    padding-top: 10px;
    color: white;
    font-size: 3rem;
    text-align: center;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}


.navbar a{
    background-color:rgb(245, 19, 34);
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
}

.navbar a:hover{
    background-color:gray
}


[class*="col-"]{
    float: left;
    padding: 10px;
}

/* For Mobile */
[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color:var(---Primary-Color);
    padding: var(---padding);
    margin: var(---margin);
}

.navbar::after{
    content:'';
    display: table;
    clear: both;
}
/* Nabbar Design Ends Here. */

/* Profile Design Start Here */
.profile{

    padding: 130px 10px;
    text-align:center;
    position: relative;
}

.profile .top-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}
.profile .top-icon:hover{
    transform: rotate(360deg);
}

.profile h1{
    font-family: 'satisfy', cursive;
    font-size: 3rem;
}

.profile p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
}

.profile .botom-icon{
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
}
.profile .botom-icon:hover{
    transform: rotate(360deg);
}

.profile::after{
    display: table;
    content: '';
    clear: both;
}

/* Profile Design Ends Here */

/* About me Design Start Here */
.about-me{
    background-color:#39a4ac;
    padding:1% 7%;
    color: white;
    text-align: center;
    font-family:'montserrat', sans-serif;
}

.about-me::after{
    display: table;
    content: '';
    clear: both;
}

.about-me_img img{
    border: 5px solid white;
    border-radius: 50%;
    height:220px;
    width:200px;
    }

    .about-me p{
        text-align: center;
    }
    .about-me a{
        font-size: 2rem;
        text-decoration: none;
        color: white;
        font-size:  1.5rem;
    }
    .cv-btn{
        background-color: #052d2f;
        color: white;
        border: none;
        border-radius: 12px;
        padding: 15px;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        margin: 10px;
    }
/* About me Design Ends Here */